#container-main{
    background-image: url("../img/banner.jpg");
}

body{
    font-family: 'Inter', sans-serif;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6bd;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}